clara-pipeline/workflows/n8n_pipeline_a.json
{
  "name": "Clara Pipeline A - Demo to v1 Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "ls -1 /home/node/recordings/demo/*.txt /home/node/recordings/demo/*.m4a /home/node/recordings/demo/*.mp3 /home/node/recordings/demo/*.wav 2>/dev/null || echo 'NO_FILES'"
      },
      "id": "list-files-1",
      "name": "List Demo Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.stdout;\nif (output === 'NO_FILES') {\n  throw new Error('No demo files found in /recordings/demo/');\n}\nconst files = output.trim().split('\\n').filter(f => f.length > 0);\nreturn files.map(f => ({ json: { file_path: f, filename: f.split('/').pop() } }));"
      },
      "id": "split-files-1",
      "name": "Split into Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "command": "cd /home/node/scripts && python3 run_pipeline_a.py '{{ $json.file_path }}' --skip-transcription 2>&1"
      },
      "id": "run-pipeline-a",
      "name": "Run Pipeline A",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.stdout;\nconst lines = output.split('\\n');\nconst accountLine = lines.find(l => l.includes('Account ID:'));\nconst companyLine = lines.find(l => l.includes('Company:'));\nconst outputLine = lines.find(l => l.includes('Outputs:'));\n\nreturn [{\n  json: {\n    status: 'success',\n    account_id: accountLine ? accountLine.split(':').slice(1).join(':').trim() : 'unknown',\n    company: companyLine ? companyLine.split(':').slice(1).join(':').trim() : 'unknown',\n    output_dir: outputLine ? outputLine.split(':').slice(1).join(':').trim() : 'unknown',\n    raw_output: output\n  }\n}];"
      },
      "id": "parse-result-1",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst success = items.filter(i => i.json.status === 'success').length;\nconst total = items.length;\n\nreturn [{\n  json: {\n    summary: `Pipeline A Complete: ${success}/${total} demo calls processed`,\n    results: items.map(i => i.json)\n  }\n}];"
      },
      "id": "summary-1",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "List Demo Files", "type": "main", "index": 0}]]
    },
    "List Demo Files": {
      "main": [[{"node": "Split into Files", "type": "main", "index": 0}]]
    },
    "Split into Files": {
      "main": [[{"node": "Run Pipeline A", "type": "main", "index": 0}]]
    },
    "Run Pipeline A": {
      "main": [[{"node": "Parse Result", "type": "main", "index": 0}]]
    },
    "Parse Result": {
      "main": [[{"node": "Generate Summary", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {"name": "clara-pipeline"}
  ]
}
